* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

/* box 1 */

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 1.5px transparent;
}
.border:hover {
    border: 1.5px solid;
}

/* box 2 */

.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px
}

.add-sec {
    font-size: 1rem;
    margin-left: 5px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/* box 3 */

.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    height: 40px;
    width: 640px;
    border-radius: 5px;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    color: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nav-search:hover {
    border: 2px solid orange;
}

/* box4 */

.nav-first {
    color: #cccccc;
    font-size: 0.7rem;
    margin-left: 5px;
}

.nav-second {
    font-size: 0.85em;
    margin-left: 5px;
    font-weight: 700;
}

/* box5 */

.nav-cart i{
    font-size: 30px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

/* panel */

.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p {
    display: inline;
    margin-left: 10px;
}

.panel-ops {
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

/* hero-section */

.hero-section {
    background-image: url("/images/hero_image.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-text {
    background-color: white;
    color: black;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}

.hero-text a{
    color: #007185;
}
/* shop section */

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}


.box {
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img {
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
    margin-left: 10px;
    margin-right: 10px;
}

.box-content p {
    color: #007185;
}